.digitalProducts {
  background-image: url("../public/images/himalayas-6-mj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100vw;
}

.projectsBg {
  background-image: url("../public/images/himalayas-1-mj.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.contactBlockBg {
  background-image: url("../public/images/wallpaper.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 300px;
  width: 100vw;
  background-attachment: fixed;
}
